<!doctype html>
<head>
    <title>Bitcoin price image generator</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1675503-8']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>

<body>

<div class="pre_container">
    <div id="sitetitle">
        <b>Bitcoin price image generator</b> <span></span>
    </div>

</div>
<div class="center_container">
    <div class="box">
        <div class="boxcontent">
            <p>The bitcoin price image generator is a simple tool that creates a dynamic image of a
                price in BTC, based on a fixed USD price. The resulting image can be embedded in a
                forum post, for example, and it will always show an up-to-date BTC equivalent price.
                This is useful when you want to show a price for something in BTC, but you want the
                price to be pinned to a USD value (and not have to update your post every day as the
                BTC/USD exchange rate fluctuates). This tool relies on the
                <a href="https://bitcoinaverage.com/explain.htm">global weighted average</a>
                from <a href="https://bitcoinaverage.com">BitcoinAverage</a>.</p>

            <p>Current exchange rate is: {{ usd_per_btc }}</p>

            <p>Problems? Suggestions? <a href="https://github.com/fordhurley/btc-priceimg/issues">Open an issue</a>.</p>

            <p>Source available on <a href="https://github.com/fordhurley/btc-priceimg">GitHub</a>.
            </p>

            <p>The advanced version of the tool allows for a choice of currency (BTC or LTC for
                now). Read about it <a href="#advanced">below.</a></p>
        </div>
    </div>

    <div class="box">
        <div class="boxtitle">Usage</div>
        <div class="boxcontent">
            <p>Simply build a URL of the form: <br/>
                <code class="block">{{ url_for('priceimg', _external=True) }}/&lt;price_in_usd&gt;</code>
            </p>

            <p>Where <code>&lt;price_in_usd&gt;</code> is the price you want in USD.</p>

            <p>You can also add an optional color argument to change the color of the text: <br/>
                <code class="block">{{ url_for('priceimg', _external=True) }}/&lt;price_in_usd&gt;/&lt;color&gt;</code>
            </p>

            <p>The color code should be an html-like hex code (for white: <code>ffffff</code> or <code>fff</code> or
                simply <code>f</code>). See <a href="https://en.wikipedia.org/wiki/Web_colors"
                                    target="_blank">wikipedia</a> for more info. The
                background of the image will be transparent.</p>
        </div>
    </div>

    <div class="box">
        <div class="boxtitle">Example</div>
        <div class="boxcontent">
            <p>Say you want to sell an item for $10. You can generate an image using:<br/>
                <code class="block">{{ url_for('priceimg', _external=True) }}/10.00</code>
            </p>

            <p>Which will yield the image: <img src="{{ url_for('priceimg') }}/10.00"/></p>

            <p>If you want to change the color (to more closely match the text in your forum post,
                for example), use: <br/>
                <code class="block">{{ url_for('priceimg', _external=True) }}/10.00/00f</code>
            </p>

            <p>Which yields: <img src="{{ url_for('priceimg') }}/10.00/00f"/></p>

            <p>You can then embed the image in your post using that URL. In BBCode, this would
                be:<br/>
                <code class="block">[img]{{ url_for('priceimg', _external=True) }}/10.00[/img]</code>
            </p>
        </div>
    </div>

    <div class="box" id="advanced">
        <div class="boxtitle">Advanced Version</div>
        <div class="boxcontent">
            <p>The advanced version is available to allow changing the display currency, and allow
                for fancier options in the future. The URL format is of the form:<br/>
                <code class="block">{{ url_for('priceimgadv', _external=True) }}?price=&lt;price&gt;&amp;currency=&lt;currency&gt;&amp;color=&lt;color&gt;</code>
            </p>

            <p>Arguments:</p>
                <ul>
                    <li><code>price</code> the desired price in USD (required) </li>
                    <li><code>currency</code> should be "BTC" or "LTC" (without quotes). Defaults
                to "BTC".</li>
                    <li><code>color</code> same as in the basic version above.</li>
                </ul>
        </div>
    </div>

    <div class="box" id="balance">
        <div class="boxtitle">Balance Checker</div>
        <div class="boxcontent">
            <p>An additional tool allows you to check the balance of any bitcoin address using the
                API from <a href="http://blockchain.info" target="_blank">blockchain.info</a>.
                Simply build a URL of the form:<br/>
                <code class="block">{{ url_for('balimg', _external=True) }}/&lt;address&gt;/&lt;color&gt;</code>
            </p>

            <p>As in the basic version above, the color argument is optional and accepts html-like
                hex codes.</p>
        </div>
    </div>

</div>

<div id="footer">
    by <a href="http://fordhurley.com">Ford Hurley</a> |
    Tips? Why not! <a href="bitcoin:122LV3CNADj1yHU2tFPEhcCWR5QbfMzNcm?label=btc-priceimg">122LV3CNADj1yHU2tFPEhcCWR5QbfMzNcm</a> |
    <a href="https://github.com/fordhurley/btc-priceimg">Github</a>
</div>
</body>
